.layout {
    display: grid;
    grid-template-columns: 20ch 1fr 20ch;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    height: 100vh;
    overflow: hidden;

    @mixin shared-panel-styles {
        background: var(--code-bg);
        border: 1px solid var(--border);
    }
    .header {
        grid-column: 1 / -1;
        @include shared-panel-styles();
    }
    .error {
        grid-column: 1 / -1;
        background-color: red;
        color: black;
        font-weight: bold;
        margin-top: -1rem;
    }

    .left {
        @include shared-panel-styles();
    }

    .main {
        @include shared-panel-styles();
        overflow-y: auto;
        min-height: 0;
        padding-bottom:4rem;
        padding-top: 0.2rem;
        padding-inline: 0.2rem;
    }

    .right {
        @include shared-panel-styles()
    }
}