.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4rem;
    background: rgba(1,1,1,0.5);

    .content {
        border: 2px solid black;
        height: stretch;
        background: white;
        position: relative;
        padding-block: 2rem;
        padding-inline: 0.5rem;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}