.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;;

    @mixin active-tab {
        background-color: var(--color-neutral-400);
        color: var(--color-neutral-50);
        border: 1px solid var(--color-neutral-600);
    }
    @mixin inactive-tab {
        background-color: var(--color-neutral-200);
        color: var(--text);
        border: 1px solid var(--border);

        &:hover {
            background-color: var(--color-neutral-300);
            border-color: var(--color-neutral-300);
        }
    }
    .tab {
        @include inactive-tab();
        
        transition: all 0.2s ease;
        cursor: pointer;

        &.is-open {
            @include active-tab();
        }
    }
    .content {
        @include active-tab();
    }
}