.section {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.2rem;

    * {
        width: 1;
    }

    .title {
        align-self: flex-start;
    }

    .children-container {
        &.collapsed {
            display: none;
        }
    }
}