.section {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: space-between;
    gap: 1rem;

    * {
        width: 1;
    }

    .title {
        align-self: flex-start;
    }
}